.navbar {
  background-color: #fff;
  padding: 20px;
}

.navbar__item {
  display: flex;
  align-items: center;
  gap: 60px;
}

.navbar__itemContainer {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.menu {
  display: flex;
  list-style-type: none;
  gap: 10px;
}

.logo {
  font-size: 30px;
}

a {
  text-decoration: none;
}

.logo a {
  color: #0290ff;
}
